# Database configuration
POSTGRES_USER=okanban
POSTGRES_PASSWORD=okanban
POSTGRES_DB=okanban

# API database connection
DB_HOST=db
DB_USER=okanban
DB_PASSWORD=okanban
DB_NAME=okanban
DB_PORT=5432
DATABASE_URL=postgres://okanban:okanban@okanban-database:5432/okanban
# Client configuration Reste dans client pour l'instant a cause de Vite qui compile pas avec la variable d'environnement d'ICI !
# VITE_API_BASE_URL=http://localhost:3000/api
# Optional: Debug and environment
NODE_ENV=production
DEBUG=sequelize:*,okanban:db